<table width="740" height="25" border="0" align="center" cellpadding="0" cellspacing="3" background="image/menubg.png" style="BORDER-BOTTOM: #1C66BC 1px solid; BORDER-TOP: #1C66BC 1px solid;">
<tr class="menu">
<td width="20%" background="image/menubg2.png" style="BORDER-right: #F2F8FE 1px solid;"><%= link_to "HOME", :controller => "homepage", :action => "home" %>
<td width="20%" background="image/menubg2.png" style="BORDER-right: #F2F8FE 1px solid;"><%= link_to "利用者の皆様へ", :controller => "homepage", :action => "user" %>
<td width="20%" background="image/menubg2.png" style="BORDER-right: #F2F8FE 1px solid;"><a href="#">学内MAP</a></td>
<td width="20%" background="image/menubg2.png" style="BORDER-right: #F2F8FE 1px solid;"><a href="#">Link</a></td>
<td width="20%" background="image/menubg2.png"><a href="#">お問い合わせ</a></td>
</tr></table></td></tr>

<tr><td><table width="740" height="300" border="0" align="center" cellpadding="0" cellspacing="0">
<tr><td width="191" valign="top" bgcolor="#B6D6F9"><br>
<table width="181" border="0" align="center" cellpadding="0" cellspacing="0">
<tr><td height="27" background="image/side.png"><div class="side_title">MENU</div></td></tr>
<tr><td>
<div class="side">
<a href="#">・このサイトの目的</a><br>
<a href="#">・情報工学部</a><br>
<a href="#">・スクールバス</a><br>
<a href="#">・などなど</a><br>
<a href="#">・このサイトについて</a></div></td>
</tr>
</table>
<br>
<table width="181" border="0" align="center" cellpadding="0" cellspacing="0">
<tr><td height="27" background="image/side.png"><div class="side_title">コンテンツ</div></td></tr>
<tr><td>
<div class="side"> <a href="#">・何か</a><br>
<a href="#">・考えたもの</a><br>
<a href="#">・を</a><br>
<a href="#">・ここに</a><br>
<a href="#">・書く！</a></div></td></tr></table>
<br>
<table width="181" border="0" align="center" cellpadding="0" cellspacing="0">
<tr><td height="27" background="image/side.png"><div class="side_title">コンテンツ</div></td></tr>
<tr><td>
<div class="side"> <a href="#">・ほしの</a><br>
<a href="#">・さとう</a><br>
<a href="#">・とものう</a><br>
<a href="#">・みやのまえ</a><br>
<a href="#">・ほんま</a></div></td></tr></table>
<br></td>
<td width="549" valign="top"><br><table width="530" border="0" align="center" cellpadding="0" cellspacing="0" style="border-color:#5FA9F9; border-width:1px; border-style:solid;">
<tr>
<td height="26" background="image/titlebg.png"><div class="main_title"> NEWS </div></td></tr>
<tr>
<td><div class="main"> ここに何か新しい更新情報を載せたり、九州工業大学のイベントなどを載せるのかな？ <br><br>
まぁ今後いろいろと決めていきましょう<br>
</div></td></tr></table>
<br><table width="530" border="0" align="center" cellpadding="0" cellspacing="0">
<tr><td valign="top">
<h2>このホームページについて</h2>
<div class="main">
・ご利用に当たり~の削除は禁止です。<br>
・マナーを守ってご利用下さい。<br>
　　など書くのかな？
</div></td></tr></table></td>
</tr></table></td></tr>
<tr><td><table width="740" height="40" border="0" align="center" cellpadding="0" cellspacing="0" background="image/foot.png">
<tr><td><div class="foot">Making &copy; This site. by　<a href="http://www.iizuka.kyutech.ac.jp/">星野　翔</a></div></td></tr></table></td>
</tr></table>
