<tr><td><table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
<tr><td width="191" valign="top" bgcolor="#000080">
<table width="190" border="0" align="center" cellpadding="0" cellspacing="0">
<tr><td><a href="#"><img src="/image/side1.png" alt="side1"></a></td></tr>
<tr><td><a href="#"><img src="/image/side2.png" alt="side2"></a></td></tr>
<tr><td><a href="#"><img src="/image/side3.png" alt="side3"></a></td></tr>
<tr><td><a href="#"><img src="/image/side4.png" alt="side4"></a></td></tr>
<tr><td><a href="#"><img src="/image/side6.png" alt="side6"></a></td></tr>
<tr><td><a href="#"><img src="/image/side7.png" alt="side7"></a></td></tr>
<tr><td><a href="#"><img src="/image/side8.png" alt="side8"></a></td></tr>
<tr><td><a href="#"><img src="/image/side9.png" alt="side9"></a></td></tr>
<tr><td><a href="#"><img src="/image/side10.png" alt="side10"></a></td></tr>
</table>
<br></td>

<td width="709" valign="top"><br>
<table width="700" border="0" align="center" cellpadding="0" cellspacing="0" >
<tr>
<td height="35" background="/image/title03.png"><div class="main_title"> EVENT </div></td></tr>

<tr><td>
<table>
<% @admins.each do |admin| %>
  <tr>
    <td width="100"><%= link_to admin.date, :controller => "homepage", :action => "event", :id => admin.id %></td>
    <td width="600"><%= link_to admin.name, :controller => "homepage", :action => "event", :id => admin.id %></td>
  </tr>
<% end %>
</table>
<br><br></td></tr>

<tr>
<td height="35" background="/image/title03.png"><div class="main_title"> TOPICS </div></td></tr>

<tr><td><br><br><br><br></td></tr>

<tr>
<td height="35" background="/image/title03.png"><div class="main_title"> PRESS SCRAP </div></td></tr>

<tr><td><br><br><br><br></td></tr>

</table>

<table valign="bottom">
<tr valign="bottom">
<td width="709" valign="bottom">
<br><br><br><br><br><br><br<br>
<h2>このホームページについて</h2>
<div class="main">
・ご利用に当たり~の削除は禁止です。<br>
・マナーを守ってご利用下さい。<br>
　　など書くのかな？
</div></td></tr>
</table>

</td></tr>

